<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
</head>

<body>
    <div class="container">

        <form action="" class="form" #loginform="ngForm" (ngSubmit)="loginuser(loginform.value)">
            <div class="para">
                <h5>LOGIN </h5>
                <p class="sub-heading"> Please enter your login and password</p>
            </div>


            <label for="Mail" class="hed"> Email</label>
            <input type="email" name="email" class="box" placeholder="Enter your email" ngModel required
                #email="ngModel" email>
            <span class="validation" *ngIf="email.invalid && email.touched " style="color: red;">invalid
                email</span>

            <label for="password" class="hed"> Password</label>
            <input type="PassWord" name="password" class="box" placeholder=" PassWord" ngModel required
                #password="ngModel" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
            <span class="validation" *ngIf="password.invalid && password.touched" style="color: red;">invalid
                password</span>
            <p id="forlink" (click)="gotoreset()">Forget Password?</p>
            <input type="submit" value="Sign in" id="submit" class="btn" ngModel>
            <div class="last">
                <p>Don't have an account? <span id="uplink" (click)="gotosignup()">signup</span></p>
            </div>

        </form>
    </div>
</body>

</html>