<footer>
    <div class="footer-content">
        <div class="footer-logo">
            <img src="../../../assets/Events__2_-removebg-preview.webp" ALT="This is a logo" />
        </div>
        <!-- <div class="footer-links">
            <h4>Quick Links</h4>
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#portfolio">Portfolio</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div> -->
        <div class="footer-contact">
            <h4>Contact Us</h4>
            <p>Address: Mp nagar zone-2 Bhopal</p>
            <p>Phone: 8109004982</p>
            <p>email: inamm94@gmail.com</p>
        </div>

        <div class="footer-contact">
            <h4>Social sites</h4>
            <p><a class="link" href="https://github.com/Inam10" target=”_blank”>GitHub</a></p>
            <p> <a class="link"
                    href="https://www.linkedin.com/in/inam-ur-rahman-344643204?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
                    target=”_blank”>Linkdin</a>
            </p>
            <p><a class="link" href="https://instagram.com/inammer__?igshid=OGQ5ZDc2ODk2ZA=="
                    target=”_blank”>Instagram</a></p>
        </div>

    </div>
    <div class="footer-bottom">
        <p>&copy; 2023 DreamCraft Event Management Company. All rights reserved.</p>
    </div>
</footer>