<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</head>

<body>
    <div class="whole">
        <div class="container">
            <div class="heading">
                <h4>Forgot Password</h4>
            </div>

            <div class="form">
                <form>

                    <div class="name">
                        <input type="text" name="email" class="box" placeholder="Enter your email" #authemail="ngModel"
                            [(ngModel)]="this.email" required email>
                        <span class="validation" *ngIf="authemail.invalid && authemail.touched">invalid
                            email</span>
                    </div>
                    <input type="submit" name="" class="btn" value="forgot password" (click)="sendResetLink()">
                </form>

            </div>
        </div>
    </div>


</body>

</html>