* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
}

.whole {

    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100vh;
    background-image: url('../Images/mainbgImg.webp');
    background-size: cover;
}

.container {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 350px;
    height: 300px;
    /* margin: 0 auto; */
    border: 2px solid black;
    margin-top: 150px;
    margin-bottom: 150px;
    /* background-color: #ed4a43; */
    background-color: rgba(233, 225, 215, 0.308);
    border-radius: 20px;
}

h4 {
    font-size: 25px;
    color: #eee;
    align-items: start;
    margin-top: 40px;
    /* margin-left: -150px; */

}

.sub-heading {
    color: white;
    text-align: start;
    /* margin-left: -175px; */
    margin-top: 15px;
}

.form {
    width: 300px;
    height: inherit;
    margin-top: 50px;

}

.name {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    margin-bottom: 20px;
}

.radio {
    margin-bottom: 20px;
}

.box {
    color: black;
    padding: 10px;
    margin-top: 5px;
    border-radius: 6px;
    outline: none;
    border: 2px solid black;
}

.validation {
    color: red;
    font-size: 15px;
}

.forgot {
    color: white;
    font-size: 15px;
    margin-bottom: 20px;
}

.btn {
    background-image: linear-gradient(-180deg, #37AEE2 0%, #1E96C8 100%);
    border-radius: .5rem;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-size: 16px;
    justify-content: center;
    padding: 1rem 1.75rem;
    text-decoration: none;
    width: 100%;
    border: 0;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.btn:hover {
    background-image: linear-gradient(-180deg, #1D95C9 0%, #17759C 100%);
}

@media (min-width: 768px) {
    .btn {
        padding: 1rem 2rem;
    }
}

.last {
    color: white;
    margin-top: 10px;
    margin-bottom: 15px;
}

/* body {
    background-color: white;
} */