<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>List Dashboard</title>
</head>

<body>
    <div class="dashboard">
        <ul class="dashboard-list">
            <li *ngFor="let event of eventsData">
                <div class="info">
                    <p class="name">{{event.title}}</p>
                    <p class="location">{{event.location}}</p>
                    <p class="date">{{event.date}}</p>
                </div>
                <div class="col-6">
                    <button type="button" class="btn btn-sm btn-danger d-block w-100" data-bs-dismiss="modal"
                        (click)="deleteEvent('DELETE', event)">
                        Delete
                    </button>
                </div>
            </li>

            <!-- Additional list items can be added here -->
        </ul>
    </div>
</body>

</html>