.row {

    min-height: 100vh;
    margin-right: -15px;
    margin-left: -15px;
    margin-top: 150px;
}

.container {
    /* background-color: black; */
    /* border-radius: 10px; */

}

.panel {
    border: 1px solid black;
    border-radius: 10px;
    /* height: 400px; */
    /* width: 400px; */
}

.panel-body {
    /* border: 1px solid black; */
    background-color: #ed4a43;
    /* height: 50%px; */
    border-radius: 10px;
}

.textdeco {
    color: white;
}

.inputsec {
    border: 1px solid black;
}