<!DOCTYPE html>
<html lang="en">

<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</head>

<body>
   <div class="fullContent">
    <div class="container">
        <div class="heading">
            <h4>Reset Password</h4>
        </div>

        <div class="form">
            <form>
                <div class="name">
                    <input type="text" name="email" class="box" placeholder="Enter your email" #email="ngModel" ngModel
                        required email>
                    <span class="validation" *ngIf="email.invalid && email.touched">invalid
                        email</span>
                </div>

                <div class="name">
                    <input type="text" name="confirmEmail" class="box" placeholder="Confirm email"
                        #confirmEmail="ngModel" ngModel required email>
                    <span class="validation" *ngIf="email.value !== confirmEmail.value && confirmEmail.dirty">Email not
                        matched</span>
                </div>

                <input type="submit" name="" class="btn" value="Send Mail" ngModel>
            </form>

        </div>
    </div>
   </div>


</body>

</html>