<!DOCTYPE html>
<html>

<head>
    <title>List Dashboard</title>
</head>

<body>
    <div class="whole">
        <div class="dashboard">
            <h1>List Dashboard</h1>
            <div class="detailsOfBtn">
                <button class="btn" (click)="gotoDashboard()">Add Event + </button>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Number</th>
                        <th>Date</th>
                        <th>Status</th>

                        <th>Options</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>John Doe</td>
                        <td>johndoe@example.com</td>
                        <td>123-456-7890</td>
                        <td>2023-11-15</td>
                        <td>
                            <select>
                                <option value="pending">Pending</option>
                                <option value="complete">Complete</option>
                            </select>
                        </td>

                        <td>
                            <button class="edit-btn">Edit</button>
                            <button class="delete-btn" (click)="deleteEvent(events)">Delete</button>
                        </td>
                    </tr>
                    <!-- More rows can be added -->
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>