<body>
    <!--gallery  section starts-->
   <div class="whole">
    <section class="home" id="home">
        <div class="content">
            <h3>Its Time to celebrate the best <span>event organizers </span></h3>
            <button class="btn" (click)="gotoContactUs()">Contact Us</button>
        </div>
        <hr>

        <h1 class="head">Venue <span>'s</span></h1>
        <div class="events" id="events">

            <div class="box">
                <div class="card">


                    <div class="image">
                        <img src="https://images.pexels.com/photos/1043902/pexels-photo-1043902.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                            alt="this image">
                    </div>
                    <div class="event_text">
                        <h2>Wedding </h2>
                        <p>As a prominent Wedding Organizers, we think outside the box
                            while planning a wedding event.and make it exactly the
                            masterpiece you envision it to be,
                            as we ensure that every element is managed to perfection.
                        </p>
                    </div>

                </div>

                <div class="card">


                    <div class="image">
                        <img src="https://images.pexels.com/photos/265856/pexels-photo-265856.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                            alt="">
                    </div>
                    <div class="event_text">
                        <h2>Engagement</h2>
                        <p>As the distinguished Wedding Organizers,
                            we’re there at every step with you,assuring that everything goes smoothly. Our team of
                            eminent
                            wedding designers in India takes care of all the hard work and
                            long drawn out planning, yielding the best outcomes.</p>
                    </div>

                </div>

                <div class="card">


                    <div class="image">
                        <img src="https://images.pexels.com/photos/1488318/pexels-photo-1488318.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                            alt="">
                    </div>
                    <div class="event_text">
                        <h2>Wedding Anniversary</h2>
                        <p>Celebrate the sweet journey of love and commitment with each passing year. Our wedding
                            anniversaries are not just milestones;
                            they're beautiful reminders of the promises we made, the laughter we've shared, and the joy
                            that grows with every day together. </p>
                    </div>

                </div>

                <div class="card">


                    <div class="image">
                        <img src="https://images.pexels.com/photos/5805045/pexels-photo-5805045.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                            alt="">
                    </div>
                    <div class="event_text">
                        <h2>Birthday-party</h2>
                        <p>
                            "Dive into a world of joy and laughter as we turn moments into memories
                            at your special birthday bash! From colorful decorations to the rhythm of laughter,
                            our birthday parties are a magical blend of fun and celebration.
                            Let's create an unforgettable day filled with cake, confetti,
                            and cherished moments. Join us in the art of celebration,
                            because birthdays are not just a day, they're an experience to treasure forever!"
                        </p>
                    </div>

                </div>

                <div class="card">


                    <div class="image">
                        <img src="https://images.pexels.com/photos/1105666/pexels-photo-1105666.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                            alt="">
                    </div>
                    <div class="event_text">
                        <h2>Music concert</h2>
                        <p>
                            "Embark on a symphony of sensations as we curate unforgettable musical
                            journeys at our concerts. Immerse yourself in the rhythm,
                            feel the pulse of the crowd, and let the melodies create memories
                            that resonate long after the last note. Our events are not just concerts;
                            they are experiences that blend the magic of music with the thrill of live performances.
                            Join us in orchestrating moments that harmonize passion and celebration,
                            making every concert a crescendo of joy. Elevate your event experience with the perfect
                            melody</p>
                    </div>

                </div>

                <div class="card">


                    <div class="image">
                        <img src="https://images.pexels.com/photos/7648047/pexels-photo-7648047.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                            alt="">
                    </div>
                    <div class="event_text">
                        <h2>Corporate Event Management</h2>
                        <p> Events can be your one-stop event management provider for corporate events.
                            We offer comprehensive corporate event management and creative services,
                            tailor-made precisely according to your needs.</p>
                    </div>

                </div>

                <div class="card">


                    <div class="image">
                        <img src="https://images.pexels.com/photos/755992/pexels-photo-755992.jpeg" alt="">
                    </div>
                    <div class="event_text">
                        <h2>Brand Promotion</h2>
                        <p>Seeking a smart event management company for your brand promotion related needs?
                            Events is the perfect choice to fulfil such requirements efficiently.
                            We have experienced professionals to deliver such services.</p>
                    </div>

                </div>

                <div class="card">


                    <div class="image">
                        <img src="https://images.pexels.com/photos/2774556/pexels-photo-2774556.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                            alt="">
                    </div>
                    <div class="event_text">
                        <h2>Seminars and Conferences</h2>
                        <p>We are one of the best event management companies for organising seminars and conferences.
                            We are committed to serving the varied needs of the businesses and
                            delivering the best outcomes meeting their expectations.</p>
                    </div>

                </div>

            </div>
        </div>





    </section>
   </div>

    <!--gallery  section ends-->

    <!--service section starts-->


    <section class="service" id="service">
        <h2 class="heading">Our <span>service</span></h2>

        <div class="box-container">
            <div class="box">
                <h3>Venues selection</h3>
                <i class='bx bx-location-plus'></i>
                <p>
                    "Choosing the perfect venue is the first
                    chord in orchestrating a flawless event.?we understand that the venue sets the stage for memories to
                    unfold.
                    From elegant ballrooms to chic outdoor spaces,
                    we meticulously curate a portfolio of diverse venues to suit every occasion.
                    Our selection process considers not just space and capacity,
                    but also the ambiance that aligns with your vision.</p>

            </div>

            <div class="box">
                <h3>Invitation card</h3>
                <i class='bx bx-envelope'></i>
                <p>From elegant designs to personalized details,
                    we believe that an invitation is not just a piece of paper;
                    it's a prelude to a memorable experience. Whether you're planning a corporate affair,
                    a dreamy wedding, or a lively celebration,
                    our invitation cards are the perfect introduction to the magic that awaits.
                    Let us transform your vision into a tangible expression of excitement and style.
                    Elevate your event from the start with invitations that leave a lasting impression."</p>

            </div>

            <div class="box">
                <h3>Entertainment</h3>
                <i class='bx bx-music'></i>
                <p>Whether you're seeking the rhythmic beats of a live band,
                    the laughter-inducing charm of a stand-up comedian,
                    or the mesmerizing allure of a talented DJ,
                    we curate a lineup tailored to elevate your event.
                    Our commitment is to infuse every gathering with energy,
                    ensuring that your guests are not just attendees but active participants
                    in an unforgettable experience. Discover the perfect entertainment blend with us,
                    as we transform your event into a symphony of joy and celebration."</p>

            </div>

            <div class="box">
                <h3>food and drinks</h3>
                <i class='bx bx-bowl-hot'></i>
                <p>Our team collaborates with top-notch chefs and beverage experts to craft menus
                    that tantalize taste buds and leave a lasting impression.
                    Whether it's a corporate affair, a dreamy wedding,
                    or a lively celebration, our commitment to culinary excellence
                    transforms your event into a feast for the senses.
                    Let us guide you through a world of delectable possibilities,
                    creating a dining experience that becomes an
                    integral part of your unforgettable celebration."</p>

            </div>

            <div class="box">
                <h3>Photos and Videos</h3>
                <i class='bx bx-photo-album'></i>
                <p>"Capture the essence of your extraordinary moments
                    with our exceptional photography
                    and videography services.From candid snapshots to cinematic masterpieces,
                    we specialize in creating visual narratives that transcend the ordinary.
                    Our goal is to not just document your
                    event but to encapsulate the emotions, laughter,
                    and joy that make each occasion special. Whether it's a corporate
                    gathering, a dream wedding, or a vibrant celebration,
                    our lens captures the magic, allowing you to relive those cherished memories again and again.</p>

            </div>

            <div class="box">
                <h3>Custom food</h3>
                <i class='bx bx-drink'></i>
                <p>From personalized cocktails to intricately designed desserts,
                    our custom foods service ensures that every bite is a reflection of
                    your event's style and vision. Whether you envision a culinary
                    journey inspired by global flavors, dietary preferences,
                    or a specific theme, we're dedicated to turning your gastronomic dreams into reality.</p>

            </div>
        </div>

    </section>

    <!--service section ends-->