<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</head>

<body>
    <div class="fullContent">
        <div class="container">
            <div class="heading">
                <h4>Reset Password</h4>
            </div>

            <div class="form">
                <form>
                    <div class="name">
                        <input type="text" name="password" class="box" placeholder="Enter your password"
                            #password="ngModel" ngModel required password>
                        <span class="validation" *ngIf="password.invalid && password.touched">invalid
                            password</span>
                    </div>

                    <div class="name">
                        <input type="text" name="confirmPassword" class="box" placeholder="Confirm password"
                            #confirmPassword="ngModel" ngModel required password>
                        <span class="validation"
                            *ngIf="password.value !== confirmPassword.value && confirmPassword.dirty">password not
                            matched</span>
                    </div>

                    <input type="submit" name="" class="btn" value="Reset password" (click)="resetPassword()">
                </form>

            </div>
        </div>
    </div>


</body>

</html>