<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <div class="slideimg">
        <div class="content">
            <div class="heading">
                <h1>EventfulEdge Solutions</h1>
            </div>
            <div class="desc">
                <p> EventfulEdge Solutions is a premier event management firm dedicated to orchestrating memorable and
                    impactful events tailored
                    to our clients' needs. With a wealth of expertise and a passion for delivering excellence, we take
                    pride in curating events that leave a lasting impression. </p>
            </div>

            <div class="btn-area">
                <div><button class="button-65" (click)="gotosignup()">Get Started</button> </div>
                <div><button class="button-65" (click)="gotologin()">Book Event</button> </div>
            </div>

            <div class="scrolling-text-container">
                <p class="slogan">Innovative Events, Impeccable Execution</p>
            </div>

            <div>
                <button class="large-button">About Us</button>
            </div>
        </div>

    </div>
</body>

</html>